.responsive {
    max-width: 100%;
    height: auto;
  }

  .logo {
      width: 200px;
      height: 80px;
      margin-left: auto;
      margin-right: auto;
      display: block;
  }

  .text {
    position: absolute;
    right: 640px;
    top: 150px;
    width: auto;  
    text-align: center;
    border: 0px solid red;
  }

  @media screen and (max-width: 992px) {
    .text {
      position: absolute;
      right: 70px;
      top: 150px;
      width: auto;  
      text-align: center;
      border: 0px solid red;
    }
  
  }

  .logo-manual {
    position: absolute;
    right: 650px;
    top: 20px;
    width: 200px;
    border: 0px solid #73AD21;
    padding: 0px;
  }

  @media screen and (max-width: 992px) {
    .logo-manual {
      position: absolute;
      right: 80px;
      top: 20px;
      width: 200px;
      border: 0px solid #73AD21;
      padding: 0px;
    }
  
  }

  .footer-manual {
    position: absolute;
    font-size: 15px;
    top: 900px;
    right: 500px;
    width: auto;  
    text-align: center;
    border: 0px solid red;
  }

  @media screen and (max-width: 992px) {
    .footer-manual {
      position: absolute;
      font-size: 15px;
      right: 10px;
      top: 800px;
      width: auto;  
      text-align: center;
      border: 0px solid red;
    }
  
  }

  .pred-image {
    position: absolute;
    right: 580px;
    top: 250px;
    width: 400px;
    border: 3px solid rgb(255, 81, 0);
    padding: 0px;
  }

  @media screen and (max-width: 992px) {
    .pred-image {
      position: absolute;
      right: 15px;
      top: 200px;
      width: 330px;
      border: 3px solid rgb(255, 81, 0);
      padding: 0px;
    }
  
  }